{% for post in posts | reverse %}

    <article class="h-entry mb-7">

        <h2 class="md:mb-1 mb-1 md:mt-0 mt-0">
            <a class="p-url" href="{{ post.url }}"><span class="p-name">{{ post.data.title }}</span></a>
        </h2>

        <span class="text-base italic text-gray-500">
            Diterbitkan pada <time class="dt-published" datetime="{{ post.date | dateToISO }}">{{ post.date | readableDate }}</time>
        </span>

        {# {% for tag in post.data.tags %}
            {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {% endfor %} #}
        
    </article>

{% endfor %}
