---
layout: base
---

<article class="h-entry content">

    <header class="wide article-header">
        <h1 class="article-title p-name"> {{ title }} </h1>
        <span class="author">Ditulis oleh <span> {{ author }} </span></span>
    </header>

    <div class="e-content"> {{ content | safe }} </div>

</article>
