@use 'reuse';
@use 'function';

.footer {
  @extend %font-serif;
  text-align: center;
  font-style: italic;
  padding: function.rem(20px);

  p {
    @extend %m-reset;
    background-color: var(--hb-color-accent);
    display: inline-block;
  }
}
