---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
  addAllPagesToCollections: true
layout: base
eleventyComputed:
  title: "Topik: {{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---
<div class="mb-8 text-sm font-sans">Kumpulan artikel dengan topik <span class="font-bold">"{{ tag }}"</span></div>

{% set posts = collections[ tag ] %}
{% include "posts.njk" %}
